<!DOCTYPE html>
<h1>Please Login with you username and Password</h1>

<form action="/session" method="POST">
  <input type="text" name = "username" placeholder="username">
  <input type="text" name = "password" placeholder="password">
  <input type="submit">
</form>
